repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a specific version of ruff's pre-commit hooks
    rev: v0.13.1
    hooks:
      - id: ruff-check
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a specific version of ruff's pre-commit hooks
    rev: v0.13.1
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-yaml
        args: ["--unsafe"]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["tests/", "-v", "--tb=short", "--cov=custom_components.lockly"]
        pass_filenames: false
        always_run: true
